.caja_1{ /*Alinear Items de la caja uno*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.sub_box{ /*Espacio entre hacia arriba de la caja de texto*/
    margin-top: 5%;
}
.titulo_caja_1{ /*Caja de titulo*/
    font-size: 35px;
}
.tv_caja_1{ /*Segunda caja*/
    z-index: 9;
    border-color:#fff;
    height: 285px;
    width: 500px;
    background-color: #fff;
    margin-top: 12%;
    border-radius: 10px;
    background-image: url("../images/tv_netflix.jpg");
    background-size: cover; /* Ajusta la imagen para que cubra toda la caja */
    background-position: center; /* Centra la imagen en la caja */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/*/////////////////////////////////////////////////////////*/

.caja_2{ /*Alinear Items de la caja dos*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.sub_box_2{ /*Espacio entre hacia arriba de la caja de texto*/
    margin-top: 5%;
}
.titulo_caja_2{ /*Caja de titulo*/
    font-size: 30px;
}
.texto_caja_2{ /*caja de texto*/
    font-size: 18px;
}

/*/////////////////////////////////////////////////////////*/

.caja_3{ /*Alinear Items de la caja dos*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.sub_box_3{ /*Espacio entre hacia arriba de la caja de texto*/
    margin-top: 5%;
}
.titulo_caja_3{ /*Caja de titulo*/
    font-size: 30px;
}
.texto_caja_3{ /*caja de texto*/
    font-size: 18px;
}

/*//////////////////////////////////////////////////////////*/

.caja_4{ /*Alinear Items de la caja dos*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.sub_box_4{ /*Espacio entre hacia arriba de la caja de texto*/
    margin-top: 5%;
}
.titulo_caja_4{ /*Caja de titulo*/
    font-size: 30px;
}
.texto_caja_4{ /*caja de texto*/
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
}

/*//////////////////////////////////////////////////////////*/

.caja_5{ /*Alinear Items de la caja dos*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.sub_box_5{ /*Espacio entre hacia arriba de la caja de texto*/
    margin-top: 5%;
}
.titulo_caja_5{ /*Caja de titulo*/
    font-size: 35px;
}
.texto_caja_5{ /*caja de texto*/
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
}
